body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("bodyBG.jpg");
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

div#section1 {
    width: 95vw;
    height: 95vh;
    background-image: url("./baground1.jpg");
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 1vw;
}


div#section1,
#profile1,
#Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}


div#section1 {

    padding: .5vw;

}

#profile1,
img {
    max-width: 49%;
    width: 85vw;
    border-radius: 30px;

}


div #Title,
#small {
    font-size: 2.5vw;
    flex-direction: column;
}

div #small {
    font-size: 2vw;
}


div#section2 {
    width: 96vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url("./Profile-4.JPG");
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 25px;
    margin: .5vw;


}


div#section2,
#moto {
    font-size: 4vw;
}

div#moto {
    padding: 5vw;
    font-size: xx-large;
}


div#section3 {
    width: 95vw;
    height: 100vh;
    padding: 1vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("./bg3.jpg");
    background-color: rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 25px;

}



div#aboutTitle {
    font-family: 'Squada One', cursive;
    font-size: 4vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 6vw;
    margin-right: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

div#about {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 6vw;
    margin-right: 6vw;
    font-family: 'Squada One', cursive;
    font-size: 3vw;
    font-stretch: wider;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

div#section3 {
    background-color: rgba(20, 12, 60, 0.87);
}


div#section4 {
    width: 94vw;
    height: 100vh;
    padding: 1vw;
    margin: .5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("./Profile-3.jpg"); */
    background-color: rgba(255, 255, 255, .3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 25px;

}
#row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#col1,#col2
{
    display: flex;
    flex-direction: column;
}

img#imgWraper1,img#imgWraper2
{
    width: 15vw;
    margin: 1vw;
}



a {
    color: white;
}

a:hover {
    font-size: 140%;
    color: chocolate;
}

div#Title,
#moto,
#about,
#aboutTitle {

    background-color: rgba(56, 64, 80, 0.15);
    padding: 1vw;
    border-radius: 2vw;
    border: 0px solid black;


}